html {
  height: auto;
  min-height: 100%;
  background-color: #febcb9;
  box-shadow: inset 0 0 20em 2em #ca8782;
  transition: all 1s;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(0, 0, 0, 0);
}
a:hover {
  cursor: pointer;
}
.title, #quote {
  font-family: 'Quicksand', sans-serif;
}
.nav {
  margin: 1.5em auto 2.5em;
}
.nav > li > a {
  color: black;
}
.nav > .active > a, .btn-default {
  background-color: #383736 !important;
  color: white !important;
}
#contacts-container {
  margin: 2em 0 1em;
}
.btn-default {
  margin-right: 0.5em;
}
.section {
  display: none;
  opacity: 0;
  transition: opacity 0.4s;
}
#about-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
#profile-img {
  float: left;
  border-radius: 50%;
  width: 15em;
  height: 15em;
}
#quote {
  text-align: justify;
}
.paragraph {
  text-align: justify;
  font-size: 115%;
}
@media (max-width: 536px) {
  .btn-default {
    display: block !important;
    width: 100% !important;
    margin-right: 0;
    margin-bottom: 0.5em;
  }
}
@media (min-width: 640px) {
  #small-br {
    display: none;
  }
  #about-flex-container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  #profile-img {
    margin-right: 1.5em;
  }
  #quote {
    text-align: right;
  }
  .paragraph {
    font-size: 130%;
  }
}
@media (min-width: 768px) {
  .nav {
    margin-bottom: 6em;
  }
  #about-flex-container {
    margin-bottom: 6em;
  }
  #quote {
    line-height: 1.4em;
  }
}
#tablet {
  background-color: black;
  width: 75em;
  max-width: 100%;
  height: 48em;
  padding: 2em;
  border: 0.3em outset #444;
  border-radius: 1em;
  margin: auto;
}
#tablet-screen {
  background: url(/img/ubuntu-wallpaper.jpg);
  background-size: cover;
  position: relative;
  height: 40em;
}
#tablet-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  display: none;
  opacity: 0;
  transition: all 0.4s;
}
#tablet-menu-div {
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 2em;
  height: 2em;
  border-radius: 0.2em;
  color: #f8f8f7;
  display: none;
  opacity: 0;
  transition: all 0.4s;
}
#tablet-menu-div:hover {
  cursor: pointer;
}
#tablet-menu {
  position: absolute;
  top: 4em;
  right: 2em;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f8f8f7;
  border-radius: 0.2em;
  display: none;
  opacity: 0;
  transition: all 0.2s;
}
#tablet-menu-ul {
  list-style-type: none;
  padding: 0.5em;
}
#tablet-menu-ul > li {
  margin: 0.6em 0 0;
  font-weight: bold;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}
#tablet-menu-ul > li:hover {
  cursor: pointer;
  background-color: #f8f8f7;
  color: black;
}
#tablet-menu-open-link {
  text-decoration: none;
  color: inherit;
}
#tablet-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: all 0.2s;
  opacity: 0;
  display: none;
}
#tablet-info:hover {
  cursor: default;
}
.portfolioDescription {
  max-width: 50em;
  background-color: #f8f8f7;
  border-radius: 0.5em;
  border:  0.1em solid #383736;
  box-shadow: 0.1em 0.1em 0.2em #383736;
  overflow: hidden;
}
.portfolioDescription > h2 {
  margin: 0;
  padding: 0.5em 0;
  background-color: #383736;
  color: white;
  text-align: center;
}
.descriptionContent {
  padding: 2em 2em 1em;
}
.descriptionParagraph {
  font-size: 120%;
  margin: 1.5em inherit;
}
.tagsDiv {
  margin: 1em 0;
}
.tag {
  display: inline-block;
  background-color: #383736;
  border-radius: 0.5em;
  color: white;
  padding: 0.7em 1em;
  font-weight: bold;
  margin: 0 0.2em 0.3em 0;
}
#tablet-topbar {
  background-color: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
  color: #f8f8f7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2em;
}
#tablet-topbar:hover {
  cursor:default;
}
.fa-battery-three-quarters {
  margin: auto 1em;
}
#tablet-button {
  margin: 1em auto;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 0.1em inset gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fa-home {
  color: #f8f8f7;
  font-size: 130%;
}
#portfolio-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 38em;
}
#frontend-react-container,
#fullstack-react-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.portfolioList {
background-color: rgba(0, 0, 0, 0.2);
border-radius: 0.7em;
text-align: center;
}
.portfolioFlexContainer {
  display: inline-flex;
}
.portfolioTitle {
  text-align: center;
  color: white;
}
.portfolioItem {
  width: 7em;
  height: 9em;
  border-radius: 0.7em;
  overflow: hidden;
  margin: 1em 2em;
  cursor: pointer;
}
.portfolioItem > img, .icon-div {
  border-radius: 0.7em;
  width: 7em;
  height: 7em;
}
.icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-div > i {
  font-size: 400%;
}
.portfolioItemName {
  font-size: 90%;
  color: white;
  font-weight: bold;
  margin: 1em auto 0;
  text-align: center;
  line-height: 1.1em;
}
@media (max-width: 1049px) {
  #tablet {
    font-size: 90%;
  }
}
@media (max-width: 767px) {
  #tablet {
    width: 30em;
    padding: 1em;
  }
  #tablet-screen {
    height: 42em;
  }
  #portfolio-container {
    height: 40em;
  }
  .portfolioFlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .portfolioTitle {
    font-size: 16px;
  }
  .portfolioItem {
    width: 5.5em;
    height: 7.5em;
    margin: 0.5em;
  }
  .portfolioItem > img, .icon-div {
    width: 5.5em;
    height: 5.5em;
  }
  #tablet-menu-div {
    right: 1em;
    width: 3em;
    height: 3em;
  }
  #tablet-menu-div > i {
    font-size: 150%;
  }
  #tablet-menu {
    right: 1em;
    top: 5em;
  }
  #tablet-menu-ul > li {
    font-size: 120%;
  }
}

@media (max-width: 359px) {
  #tablet {
    font-size: 85%;
  }
}
@media (max-width: 339px) {
  #tablet {
    font-size: 80%;
  }
}
@media (max-width: 319px) {
  #tablet {
    font-size: 75%;
  }
}
@media (max-height: 540px) {
  #tablet {
    height: 44em;
  }
  #tablet-screen {
    height: 38em;
  }

  #portfolio-container {
    height: 36em;
  }
}
.certificate {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.7em;
  padding: 1em;
  margin-bottom: 2.5em;
}
.certificatesTitle {
  margin: 0;
}
.certificateName {
  text-align: center;
}
.certificate > a > img {
  margin: 1.5em 0;
}

.certificate > p {
  font-weight: bold;
}
