html {
  height: auto;
  min-height: 100%;
  background-color: #dedcd9;
  box-shadow: inset 0 0 20em 2em #aaa7a2;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(0, 0, 0, 0);
}
a:hover {
  cursor: pointer;
}
.title, #quote {
  font-family: 'Quicksand', sans-serif;
}
.nav {
  margin: 1.5em auto 2.5em;
}
.nav > li > a {
  color: black;
}
.nav > .active > a {
  background-color: #383736 !important;
}
.section {
  display: none;
  opacity: 0;
  transition: opacity 0.4s;
}
#about-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto 1em 3em;
}
#profile-img {
  float: left;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  margin-right: 1.5em;
}
#quote {
  text-align: justify;
}
@media (min-width: 640px) {
  #small-br {
    display: none;
  }
  #about-flex-container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  #quote {
    text-align: right;
  }
  .paragraph {
    font-size: 130%;
    text-align: justify;
  }
}
@media (min-width: 768px) {
  #about-flex-container {
    margin: 3em 1em 6em;
  }
  #quote {
    line-height: 1.4em;
  }
}
#tablet {
  background-color: black;
  width: 75em;
  height: 45em;
  padding: 2em;
  border-radius: 1em;
  margin: auto;
}
#tablet-screen {
  background: url(/img/ubuntu-wallpaper.jpg);
  background-size: cover;
  position: relative;
}
#tablet-screen, .portfolioFlexContainer {
  height: 38em;
}
#tablet-button {
  margin: 1em auto 0;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 0.2em solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-home {
  color: white;
  font-size: 130%;
}
#frontend-react-container {
}
.portfolioFlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}
.portfolioItem {
  width: 7em;
  height: 11em;
  border-radius: 0.7em;
  overflow: hidden;
  margin: 1em auto;
}
.portfolioItem > img {
  border-radius: 0.7em;
  width: 7em;
  height: 7em;
}
.portfolioItemName {
  font-size: 90%;
  color: white;
  font-weight: bold;
  margin: 1em auto;
  text-align: center;
  line-height: 1.1em;
}
#tablet-iframe {
  width: 0;
  height: 0;
  position: absolute;
  top: 19em;
  left: 35.5em;
  display: none;
  opacity: 0;
  transition: width 0.5s, height: 0.5s, opacity 0.5s;
  border: 0;
}
